@{
    ViewData["Title"] = "Home Page";
}
    <!-- this page will work as our view upload page that includes form with one input box with browse button that will allow user to select file from his computer
    and also a submit button that will be triggered on click and form will be posted and redirected to the BinStatus Controllers and UploadFile methods-->
<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
    Select a file to upload:
    <div class="row">

        <div class="col-md-4">

            <input type="file" id="fUpload" name="excelFile" class="form-control" />
        </div>

        <div class="col-md-8">

            <input type="submit" id="btnUpload" value="Upload" />

        </div>

    </div>
    <div>
        @{var data = ViewBag.Message;}
        <div>@data</div>
    </div>
    <br />

    <div id="dvData"></div>

</form>


